<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>mypack.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>mypack.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mypack.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>mypack.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>mypack.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchServlet</servlet-name>
        <servlet-class>mypack.FetchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successfullServlet</servlet-name>
        <servlet-class>mypack.successfullServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudentServlet</servlet-name>
        <servlet-class>mypack.addstudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addteacherServlet</servlet-name>
        <servlet-class>mypack.addteacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackservlet</servlet-name>
        <servlet-class>mypack.feedbackservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminTestServlet</servlet-name>
        <servlet-class>mypack.adminTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminExamServlet</servlet-name>
        <servlet-class>mypack.adminExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactser</servlet-name>
        <servlet-class>mypack.contactser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile_servlet</servlet-name>
        <servlet-class>mypack.profile_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>mypack.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOneServlet</servlet-name>
        <servlet-class>mypack.TestOneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchServlet</servlet-name>
        <url-pattern>/FetchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successfullServlet</servlet-name>
        <url-pattern>/successfullServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudentServlet</servlet-name>
        <url-pattern>/addstudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addteacherServlet</servlet-name>
        <url-pattern>/addteacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackservlet</servlet-name>
        <url-pattern>/feedbackservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminTestServlet</servlet-name>
        <url-pattern>/adminTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminExamServlet</servlet-name>
        <url-pattern>/adminExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactser</servlet-name>
        <url-pattern>/contactser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile_servlet</servlet-name>
        <url-pattern>/profile_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOneServlet</servlet-name>
        <url-pattern>/TestOneServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
