/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2021, 3:53:28 PM
    Author     : Anjali
*/
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    background: linear-gradient(-130deg,#2980b9,#8e44ad);
}

body{
    min-height: 100vh;
    display: flex;
     background-color:pink;
    align-items: center;
    justify-content: center;
    
}

.about-section{
    background: url(pic.jpg) no-repeat left;
    background-size: 55%;
    background-color:rgba(#40E0D0,#2980b9, #6495ED,0.4);
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
     background: linear-gradient(130deg,#2980b9,#8e44ad);
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color:white;
}

.text{
    font-size: 15px;
    color:white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.key {

}
